@import 'material';
@import 'typography';
@import 'icons';


.appbar {
  box-sizing: border-box;
  height: 56px;
  min-height: 56px;
  max-height: 56px;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  overflow: hidden;

  box-shadow: $shadow-z1;

  background: $color-indigo;

  padding-left: 16px;
}

.nav-icon {
  float: left;
  margin-right: 16px;
}

.search-icon, .menu-icon {
  float: right;
  padding-right: 16px;
}


.app-bar-title {
  @extend .headline;
  color: white !important;
  margin-top: 10px;
  float:left
}

.icon-app-bar {
  width: 24px;
  height: 24px;
  margin-top: 16px;
}

