/*
 * material design imports
 */
@import 'typography';
@import 'colors';


/*
 * component imports
 */
@import 'appBar';
@import 'card';


/*
 * default
 */

:root {
  icon-color: black;
}

p {
  @extend .body1;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  
}

.view {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;

  background: $color-grey-200;

  overflow: hidden;
}